<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>ADD USER</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <form action="/putUser" method="POST">

                <input type="text" value="<%= data.id %>" hidden name="id">

                <div class="form-row">
                    <div class="col-12 mt-3">
                        <h2>Edit user</h2>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email: </label>
                        <input type="email" name="email" class="form-control" placeholder="Email"
                            value="<%= data.email %>" />
                    </div>

                    <div class="form-group col-md-6">
                        <label>Password: </label>
                        <input type="password" name="password" class="form-control" placeholder="Password" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name: </label>
                        <input type="text" name="firstName" class="form-control" placeholder="First Name"
                            value="<%= data.firstName %>" />
                    </div>

                    <div class="form-group col-md-6">
                        <label>Last Name: </label>
                        <input type="text" name="lastName" class="form-control" placeholder="Last Name"
                            value="<%= data.lastName %>" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Address: </label>
                        <input type="text" name="address" class="form-control" placeholder="123 Main St"
                            value="<%= data.address %>" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Phone Number: </label>
                        <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number"
                            value="<%= data.phoneNumber %>" />
                    </div>

                    <div class="form-group col-md-3">
                        <label>Sex: </label>
                        <select name="gender" class="form-control">
                            <option value="1" selected>Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Role: </label>
                        <select name="roleId" class="form-control">
                            <option value="R1" selected>Admin</option>
                            <option value="R2">Doctor</option>
                            <option value="R3">Patient</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>